<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>listof buses</h1>
        <h1>Rajesh Travels</h1>
        <h1>intrcity Travels</h1>
        <h1>Morming StarTravels</h1>
        <h1>zing bus Travels</h1>
        <a href="{% url 'train:listoftrains' %}">
        <h1>see the list of trains</h1>
    </a>
    </center>
</body>
</html>